body, html {
    margin: 0;
    padding: 5pt;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    width: 100%;
    background: black;
    color: white;
}

.container {
  height: calc(100vh + 1pt); /* Activates scrolling for the container and a workaround for #102 */
}

img{
    filter: invert();    
    float: right;
    margin-left: 0.5em;
}

select, input[type="number"]{
    padding: 1pt;
    font-size: 20px;
    border-radius: 2pt;
    font-family: Roboto, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.title {
  display: block;
  margin: 0 0 20px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.switch {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 24px;
}
.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  opacity: 0;
  z-index: 0;
}
.switch__label {
  display: inline-block;
  padding: 0 0 0 44px;
  cursor: pointer;
}
.switch__label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 36px;
  height: 14px;
  background-color: rgba(255,255,255, 0.26);
  border-radius: 14px;
  z-index: 1;
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.switch__label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: left, background-color;
}
.switch__input:checked + .switch__label:before {
  background-color: rgba(32, 184, 227, 0.5);
}
.switch__input:checked + .switch__label:after {
  left: 16px;
  background-color: #20B8E3;
}

/* Hides Recon offset, JS will show it when Ingress Account setting is enabled */
#ingressExtra{
  display: none;
}

/* Collapsibles CSS */

.wrap-collabsible {
  margin-bottom: 1em;
}

#collapsible {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: white;
  background: #20B8E3;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: lightgrey;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 9999999pt;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  color: white;
  border-bottom: 1px solid rgba(0,0,0,1);
  border-left: 1px solid rgba(0,0,0,1);
  border-right: 1px solid rgba(0,0,0,1);
  background-color: #282828;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.content-inner td:last-child{
  text-align: right;
}

.toggle{
  display: none;
}


/* Custom Open In CSS */
.destroyButton{
  background: #FF4444;
  float: right;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 1.5em;
}

.customMapContainer{
  background: #000;
  border-radius: 5px;
  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: .5em;
}

.italic{
  font-style: italic;
}

#addMapButton{
  background: #5F5;
  border: none;
  border-radius: .25em;
  padding: 0.25em;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

#importMapButton{
  background: #FFF;
  color: #000;
  border: none;
  border-radius: .25em;
  margin-top: 0.5em;
  padding: 0.25em;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

#resetMapButton{
  background: red;
  color: white;
  margin-top: 0.5em;
  border: none;
  border-radius: .25em;
  padding: 0.25em;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

a{
  color: grey;
}

#settingsImporter{
  display: none;
}

.settingsButton{
  background: #20B8E3;
  border: none;
  border-radius: .25em;
  padding: 0.25em;
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  margin: 0.25em;
  cursor: pointer;
  width: 30%;
}

#settingsReset{
  background: red;
}

#settingButtonsContainer{
  text-align: center;
}