.customMapButton{
    display: inline-block;
    background: white;
    padding: 5pt;
    border-radius: 3pt;
    position: relative;
    margin: 5pt;
    color: black;
    box-shadow: 2pt 2pt 3pt grey;
    transition: box-shadow 0.2s;
}

.customMapButton:hover{
	background-color: #F0F0F0;
	color: black;
    box-shadow: 1pt 1pt 3pt grey;
}

.wrap-collabsible {
  margin-bottom: 1.2rem;
}

#collapsible, #collapsed-map {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: white;
  background: #DF471C ;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: lightgrey;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 9999999pt;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  color: black;
  border-bottom: 1px solid rgba(0,0,0,1);
  border-left: 1px solid rgba(0,0,0,1);
  border-right: 1px solid rgba(0,0,0,1);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.content-inner td:last-child{
	text-align: right;
}

th, td{
	border: white solid 1pt;
	padding: 1pt 5pt;
}

#statReload{
  float: right;
}

/* Open in drop down CSS */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  background-color: white;
  border-radius: 5px;
  box-shadow: grey 2px 2px 10px;
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.1em;
  color: black;
  padding: .25em;
  width: 7em;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -.25em;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9001;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#statsWidget{
  float: right;
}

#wfpNotify{
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: 30em;
}

.wfpNotification{
  border-radius: 0.5em;
  background-color: #3e8e41CC;
  padding: 1em;
  margin-top: 1.5em;
  color: white;
}

.wfpNotifyCloseButton{
  float: right;
}