.translateButton{
    border: 2pt solid white;
    border-radius: 2pt;
    width: 17pt;
    background-color: white;
    display: block;
    height: 17pt;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5pt;
    box-shadow: 0 0 2px grey;
}

.customMapButton{
    display: inline-block;
    background: white;
    padding: 5pt;
    border-radius: 3pt;
    position: relative;
    margin: 5pt;
    color: black;
    box-shadow: 2pt 2pt 3pt grey;
    transition: box-shadow 0.2s;
}

.customMapButton:hover{
	background-color: #F0F0F0;
	color: black;
    box-shadow: 1pt 1pt 3pt grey;
}

.five-stars{
    border: rgba(0,0,0,0) dashed 2pt;
}

html {
  scroll-behavior: smooth;
}

.presetBox{
    background: white;
    border-radius: 0.2em;
    padding: 0.3em;
}

.presetButton{
	margin-left: 1em;
    background: white;
    border-radius: 0.3em;
    border: black solid 1px;
}

.presetAddButton{
    border-radius: 0.3em;
    border: none;
    margin-left: 0.5em;
    margin-right: 1em;
}

.three-card-parent .small-card{
    max-height: 10.08em;    
}

.card-header__description{
    height: 2em;
}