.translateButton{
	border: 3pt solid white;
    border-radius: 2pt;
    width: 30pt;
    background-color: white;
    display: block;
    height: 30pt;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5pt;
}

#portalReviewTimer {
	display: inline-block;
}