.translateButton{
	border: 3pt solid white;
    border-radius: 2pt;
    width: 30pt;
    background-color: white;
    display: block;
    height: 30pt;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 5pt;
    box-shadow: 0 0 2px grey;
}

#portalReviewTimer {
	display: inline-block;
}

.five-stars{
    border: rgba(0,0,0,0) dashed 2pt;
}

html {
  scroll-behavior: smooth;
}